* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: lightslategrey;
    padding-left: 80px;
    font-size: xx-large;
    color: #fff;
    text-align: center;
}

label {
    display: inline;
}

p {
    align-content: center;
    margin: 10px;
    font-size: medium;
    padding: 0;
    display: inline;
}

.changes {
    margin-left: 10px;
}

button {

    background-color: grey;
    border: 1 px solid black;
    color: rgb(245, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    transition-duration: 0.5s;
    cursor: pointer;

}

button:hover {
    background-color: red;
    color: black;
}

.btn:hover {
    background-color: red;
}

.btn {
    background-color: lightslategray;
}

button {
    margin-top: 5px;
    color: lightslategray;
}

.abc {
    color: black;
    font-size: xx-large;
}

#para {
    margin-left: 75px;
}

#name {
    margin-left: 57px;
}


#email {
    margin-left: 50px;
}

.table-responsive {
    background-color: lightslategray;
    width: 100%;
    display: flex;
    justify-content: center;
}

.table {
    width: 100%;
}

.firstBtn {
    color: black;
    border-radius: 5px;
}

.prevBtn {
    color: black;
    border-radius: 5px;
}

.nextBtn {
    color: black;
    border-radius: 5px;

}

.lastBtn {
    color: black;
    border-radius: 5px;

}